@charset "utf-8";
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-display-semi-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  position: sticky;
  width: 100%;
  z-index: 1000;
  top: 0;
}
.navbar-border {
  width: 100%;
  height: 2px;
  background-color: #E886A9;
  position: relative;
}
@media (max-width: 992px) {
  .navbar-border {
    position: relative;
    top: 56px;
  }
}
body {
  padding-top: 2px;
  background: white;
}
.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-nav .nav-link {
  padding: 0 15px;
  color: #E886A9 !important;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
  color: black !important;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.navbar-nav .nav-link.active {
  color: black !important;
}
@media (max-width : 402px) {
  .navbar-nav {
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
  }
  .navbar-nav .nav-link {
    padding: 10px;
  }
}
header {
  padding: 100px 0;
  margin-top: 245px;
  margin-right: 0;
  margin-left: 0;
  background-color: transparent;
  text-align: center !important;
}
@media (max-width: 992px) {
  .col-lg-6 {
    width: 100%;
  }
}
header h1 {
  margin-bottom: -20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

header p {
	padding-top: 10px;
}
.container-fluid {
  text-align: center;
}
.full-width-button button {
  display: block;
  width: 100%;
  height: 145px;
  margin-top: 245px;
  margin-bottom: 0px;
  background-color: #E886A9;
  border: none;
  cursor: pointer;
  position: relative;
}
.full-width-button button img {
  transition: filter 0.3s ease;
}
.full-width-button button:hover img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.75));
}
#works .project-link {}
.container {
  text-align: left;
}
section h1 {
  color: black;
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}
section h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-top: -30px;
  font-size: 17px;
}
.project-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.project-preview .photo-item {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.project-preview .photo-item img {
  width: 100%;
  height: auto;
}
.project-preview .photo-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: white;
  display: flex;
  justify-content: left !important;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s;
}
.project-preview .photo-item:hover .overlay {
  opacity: 1;
}
.works-border {
  width: 100%;
  height: 145px;
  background-color: #E886A9;
  position: relative;
}
.about-border {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: relative;
}
#about {
  padding: 100px 0;
}
#about h3 {
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 35px;
}
#about p {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
footer {
  background-color: #E886A9;
  padding: 0px;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.footer p {
  margin: 0;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.col-md-4 text-right {
  align-items: right;
}
#head .container {
  margin-top: 60px;
}
#head h1 {
  padding-top: 30px;
	padding-right: 30px;
  color: black;
  text-align: right;
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-bottom: -30px;
}
#head h2 {
  margin-top: -30px;
	padding-right: 30px;
  color: black;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
}
#head p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: right;
  margin-top: -120px;
}
.container-fluid {
  text-align: center;
  margin-top: -20px;
}
#subhead .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#subhead .subhead {
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}
#subhead .column {
  flex: 1;
  min-width: 0;
  padding: 10px;
}
@media (min-width: 768px) {
  #subhead .container {
    flex-direction: row;
    justify-content: center;
  }
}
#subhead .column {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
@media (max-width : 402px) {
  #subhead .container {
    align-items: stretch;
  }
  #subhead .column {
    flex: 1 1 auto;
    width: 1000px;
  }
}
#subhead h1 {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
#subhead p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
#pre {
  position: relative;
}
.top-border, .bottom-border {
  align-items: center;
  width: 100%;
  height: 2px;
  background-color: #E886A9;
  position: static;
  margin: 30px 0px;
}
.top-border {
  top: 0;
  margin-bottom: 100px;
}
.bottom-border {
  bottom: 0;
  margin-top: 100px;
}
#pre .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}
#pre .subtitle {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 35px;
  margin: 0 auto;
}
#pre .content {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin: 0 auto;
  padding-bottom: 20px;
}
#main .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main .main-content {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: justify;
}
#main .main-content h1 {
  margin: 20px 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 32px;
  max-width: 1200px;
	text-align: left;
}
#main .project-image {
  margin-top: 5px;
}
#main .project-image img {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}


#main-p .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main-p .main-content {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: justify;
}
#main-p .main-content h1 {
  margin: 20px 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 35px;
  max-width: 1200px;
}
#main-p .project-image {
}
#main-p .project-image img {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
 text-align: center;	
}

#next p {
	text-align: left;
	  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}


#next h1 {
	  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
	color:  black;
	text-decoration: underline;
}

#next h1:hover {
  color: #E886A9 !important;
	  text-decoration: underline;
}


#next h1:active {
  color: black;
}
